@import '../../generals.scss';

.card {
  &.container {
    width: 220px;
    height: 230px;
    display: grid;
    grid-template-rows: 1fr 6fr;
    background-color: papayawhip;
    margin: 8px;
    border-radius: 18px;
    text-decoration: none;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 12%);
  }

  &__title {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid gray;

    h5 {
      color: black;
      font-weight: 900;
      margin: 16px 0 16px 8px;
    }

    button {
      height: 24px;
      min-width: 24px !important;
      width: 24px !important;

      span {
        color: red !important;
      }
    }
  }

  &__body {
    display: grid;
    place-items: center;
    padding: 0 16px;

    &.text-left p {
      justify-self: start;
    }

    img {
      width: 70%;
      background-color: white;
    }
    p {
      color: black;
    }
  }
}

@media (max-width: $smaller-breakpoint) {
  .card {
    &.container {
      margin: 0 auto $spacing-m;
      height: 250px;
      width: 80%;
    }
  }
}

@media (min-width: 430px) and (max-width: 480px) {
  .card {
    &.container {
      height: 300px;
    }
  }
}
