@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

//-------------- COLORS -----------------//
$color-main: #FF452B;
$color-gray: #FAFAFA;
$color-dark-gray: #263238;
$color-light-gray: rgba($color-dark-gray, 0.7);
$color-secondary: #99D271;
$color-white: white;

//---------- COLOR INTERACTIONS ---------//
$main-hover: rgb(178, 48, 30);
$main-active: #f26452;
$main-disabled: #d1c4c4;

//--------------- FONTS ------------------//
$fn-nunito: 'Nunito Sans',
sans-serif;

//---------------- SPACING --------------//
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 12px;
$spacing-l: 20px;
$spacing-xl: 24px;

//------------LETTER SPACING -------------//
$letter-spacing-s: 0.01em;

//----------- FONT WEIGHT ---------------//
$fw-bold: 700;
$fw-semi-bold: 600;
$fw-regular: 400;

//------------ SHADOWS ------------------//
$bg-shadow: 0px 4px 30px rgba(20, 98, 115, 0.1);
$card-shadow: 0px 2px 20px rgba(20, 98, 115, 0.1);
$bounced-shadow: 3px 4px 30px rgba(0, 0, 0, 0.2);
$mobile-card-shadow: 0px 4px 20px rgba(20, 98, 115, 0.08);

//------------ MOBILE-BREAKPOINT ------------------//
$medium-breakpoint: 1300px;
$mobile-breakpoint: 1000px;
$smaller-breakpoint: 600px;
$smallest-breakpoint: 420px;