@import '../../generals.scss';

.layout {
  &>.MuiContainer-root {
    margin-bottom: 80px;
    margin-top: 100px;
  }

  &>.MuiBottomNavigation-root {
    border-radius: 8px 8px 0 0;
    background-color: $color-secondary;
    width: 100%;
    margin-top: 36px;
    bottom: 0;
    position: fixed;

    .Mui-selected {
      color: white !important;
      font-weight: 900;
    }

    .MuiButtonBase-root {
      color: $color-dark-gray;
    }
  }
}

@media (max-width: $smaller-breakpoint) {
  .layout {
    &>.MuiContainer-root {
      margin-top: 130px;
    }
  }
}